*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top-header{
  position: relative;
  background-color: transparent !important;
  float: right;
  padding: 20px 0;
  /* margin-right: 90px; */
}

.contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 0 auto;
  color: #ffffff;
  
}

.contact-info span {
  color: #ffffff;
  font-weight: 700;
}

.navbar-section{
  position: fixed;
  top: 7.9%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.59);
  padding: 8px 20px 8px 20px;
  transition: top 0.3s ease;
}


.logo{
  padding-right: 100px;
}


.logo img{
  height: 75px;
}

nav{
  position: relative;
  z-index: 3;
}
nav ul {
  display: flex;
  list-style-type: none;
  column-gap: 15px;
}

nav ul li {
  margin: 0 17px;
}
 
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff6600; 
}
.nav_phone_para5{
  font-size: 14px;
}
.search-div{
  padding-left: 50px;
}

.search-div div{
  width: 100%;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px dotted #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-div i {
  font-size: 15px;
  color: #e47e03;
}

.page-title-section{
  position: relative;
  height: 100vh;
  background: url('../images/contact-image.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: white;
}

.page-title-section::before{
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .70;
    position: absolute;
}

.bread-crumb{
  display: flex;
  column-gap: 5px;
  position: absolute;
  bottom: 25%;
  right: 12%;
}

.bread-crumb ul, li{
  list-style: none;
  font-size: 20px;
    line-height: 30px;
    color: #ff8a00;
    font-weight: 700;
    text-transform: capitalize;
    cursor: default;
}

.bread-crumb ul, li a{
  color: #ffffff;
  text-decoration: none;
}

.page_title_section_div_wrapper{
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 100px;
}

.projects_head{
  position: relative;
    display: block;
    font-size: 52px;
    line-height: 72px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.text_para{
  position: relative;
  display: block;
  font-size: 27px;
  line-height: 1.5em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 55px;
}

.grid-section{
  position: relative;
  padding: 100px 0;
}

.grid_section_container {
  max-width: 1300px;
  margin: 0 auto;
}


.auto-container{
  position: static;
  /* max-width: 1200px; */
  width: 100%;
  max-width: 83%;
  min-width: 83%;
  margin-inline: auto;
  padding: 0px 15px;
  margin: 0 auto;
}
.grid-header{
  margin-bottom: 50px;
  text-align: center;
  
}

.filter-tabs{
  position: relative;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
  border-bottom: none;
}

.filter-tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 54%;
  height: 1.5px; 
  background-color: #777777;
}

.filter-tabs li {
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: -1.4px;
  font-size: 16px;
  color: #888888;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.filter-tabs li:hover {
  border-bottom: 2px solid #ff8a00;
}

.filter-tabs .active {
  border-bottom: 2px solid #ff8a00;
}



/* Grid Container Styling */
.grid-container,
.grid-container1,
.grid-container2,
.grid-container3 {
  display: none; 
  opacity: 0; 
  pointer-events: none; 
  gap: 30px; 
  padding: 20px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-20px); 
}

.grid-container.active,
.grid-container1.active,
.grid-container2.active,
.grid-container3.active {
  display: grid; 
  opacity: 1; 
  pointer-events: auto;
  transform: translateY(0); 
}

/* Grid Items Styling */
.grid-container div,
.grid-container1 div,
.grid-container2 div,
.grid-container3 div {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.grid-container div img,
.grid-container1 div img,
.grid-container2 div img,
.grid-container3 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Layout-specific grid rules */


.grid-container.all.active, .grid-container.landscape.active {
  display: grid;
  grid-template-rows: auto; 
}

.grid-container .flex1{
  display: grid;
  grid-template-columns: 370px 770px;
  grid-template-rows: 550px;
  grid-column-gap: 30px;
}

.grid-container .flex2{
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: 550px;
  grid-column-gap: 30px;
}

.grid-container .flex3{
  display: grid;
  grid-template-columns: 370px 370px 370px;
  /* grid-template-rows: 550px; */
  grid-column-gap: 30px;
}



/* .grid-container.all .div1, .grid-container.landscape .div1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-container.all .div2, .grid-container.landscape .div2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
} */

/* .grid-container.all .div3, .grid-container.landscape .div3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.grid-container.all .div4, .grid-container.landscape .div4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
} */

/* .grid-container.all .div5,
.grid-container.landscape .div5,
.grid-container.all .div6,
.grid-container.landscape .div6,
.grid-container.all .div7,
.grid-container.landscape .div7 {
  grid-row: 3 / 4;
} */

/* Commercial Layout */
.grid-container1.commercial.active {
  grid-template-columns: 650px 400px; /* 2 columns */
  grid-template-rows: 550px; /* Adjust height based on content */
}



/* Interior Layout */
.grid-container2.interior.active {
  grid-template-rows: auto; /* Adjust height based on content */
}

.grid-container2 .one-div{
  display: grid;
  grid-template-rows: 550px;
  grid-template-columns: 400px 600px;
  grid-column-gap: 30px;
}

.grid-container2 .two-div{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}


.grid-container3.architecture.active {
  grid-template-rows: auto; 
}

.grid-container3 .one-div{
  display: grid;
  grid-template-rows: 550px;
  grid-template-columns: 400px 900px;
  grid-column-gap: 30px;
}

.grid-container3 .two-div{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 600px;
  grid-column-gap: 30px;
}

.styled-pagination{
  margin-top: 100px;
  width: 100%;
  display: block;
}

.styled-pagination ul{
  list-style: none;
  position: relative;
  width: 100%;
  text-align: center;
}

.styled-pagination li{
  position: relative;
  display: inline-block;
  margin: 0 5px 8px;
}

.styled-pagination li a{
  padding: 10px 15px;
  text-decoration: none;
  height: 40px;
  text-align: center;
  line-height: 36px;
  font-weight: 400;
  background: #ffffff;
  color: #bbbbbb;
  border: 2px solid #bbbbbb;
  transition: all 300ms ease;
}


.styled-pagination li.active a{
  color: #222222;
  border-color: #222222;
}


.main-footer{
  background: url('../images/project-footer-bac-img.jpg');
  background-size: cover;
  /* z-index: 1; */
  position: relative;

}

.main-footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); 
  z-index: 0; 
}


.main-footer .widgets-section{
  margin-top: 0;
  padding-top: 95px;
}

.footer-column{
  z-index: 1;
  flex: 1 1 300px;
}

.big-column {
  flex: 2 1 600px;  
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}

.footer-widget{
  margin-bottom: 40px;
}

.about-widget{
  padding-right: 20px;
}

.footer-logo{
  margin-bottom: 15px;
}

.footer-logo figure{
  margin-top: -20px;
}

.about-widget .text{
  font-size: 15px;
  line-height: 36px;
  color: #f4f4f4;
  font-weight: 400;
}

.widget-title{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  padding-left: 25px;
  margin-bottom: 45px;
}


.widget-title::before{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  content: "\f141";
  font-family: "FontAwesome";
  transform: rotate(90deg);
}

.recent-posts .post{
  display: flex;
  min-height: 70px;
  padding-left: 105px;
  margin-bottom: 30px;
}

.recent-posts .post .thumb{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* .recent-posts .post .thumb {
  width: 100%;
  height: auto;
} */

.recent-posts .post h4{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 3px;
}

.recent-posts .post h4 a{
  text-decoration: none;
  color: #f4f4f4;
}

.recent-posts .post .info li {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #f4f4f4;
  font-weight: 400;
  padding-right: 3px;
  margin-right: 3px;
}



.links-widget .list li {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 16px;
}
.links-widget .list li a {
  text-decoration: none;
  position: relative;
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #f4f4f4;
  font-weight: 400;
}



 .gallery-widget .outer .image {
  position: relative;
  float: left;
  width: 33.3333%;
  /* padding: 0px 7px; */
  margin-bottom: 14px;
}

figure {
  margin: 0 0 1rem;
}
.background-container {
  background: url('../images/project-footer-bac-img.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  background-attachment: fixed;
}


.four-div-section,
.footer-section {
  position: relative;
  z-index: 1;
}

.background-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 0;
}



.four-div-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 82%;
  min-width: 82%;
  margin: 0 auto;
  padding: 150px 0 80px 0px;
  height: 100%;
}

.first-div p {
  position: relative;
  font-size: 15px;
  line-height: 36px;
  color: #f4f4f4;
  font-weight: 400;
}

.four-div-section>div {
  padding: 20px;
}

.first-div {
  width: 100%;
  max-width: 28%;
  min-width: 28%;
  line-height: 2.5;
}

.first-div img {
  width: 50%;
}

.second-div {
  display: flex;
  flex-direction: column;
  /* gap: 30%; */
  width: 100%;
  max-width: 30%;
  min-width: 30%;
}

.second-div h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  font-size: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.third-div span {
  color: #e47e03;
}

.fourth-div span {
  color: #e47e03;
}

.third-div h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  font-size: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 40px;
  margin-top: 28px;
}

.second-div span {
  color: #e47e03;
}

.small-divs {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.small_divs_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.small-divs img {
  width: 100%;
  max-width: 24%;
  min-width: 24%;
  height: 68px;
}

.div-content h3 {
  position: relative;
  font-size: 17px;
  color: #f4f4f4;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 3px;
}

.div-content p {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #f4f4f4;
  font-weight: 400;
  padding-right: 3px;
  margin-right: 3px;
}

.third-div {
  width: 25%;
}

.third-div ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.third-div ul li {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #f4f4f4;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
}

.third-div li a {
  text-decoration: none;
  color: white;
}



.fourth-div h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  font-size: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 40px;
  margin-top: 22px;
}

.small-images-container img {
  margin-left: 10px;
  margin-top: 10px;
}

.footer-section {
  height: 70px;
  border-top: 1px solid #222222;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;

}

.footer-left {
  width: 100%;
  max-width: 40%;
  min-width: 40%;
  height: 100%;
  text-align: start;
  background-color: rgb(255, 138, 0);
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  padding-right: 40px;
}

.footer-left::before {
  position: absolute;
  left: 100%;
  top: 0;
  border-right: 40px solid transparent;
  border-bottom: 70px solid #ff8a00;
  content: "";
}

.footer-left p {
  position: relative;
  line-height: 30px;
  font-size: 16px;
  color: #000000;
  font-weight: 700;

}

.footer-right {
  width: 100%;
  max-width: 22%;
  min-width: 22%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  text-align: start;
}

.social-icon {
  color: white;
  font-size: 1rem;
}

.logo_wrapper_main {
  width: 100%;
  max-width: 90%;
  min-width: 90%;
  height: 27vh;
  background-color: white;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.30);
  margin: 0 auto;
  position: relative;
  transform: translateY(50%);
  z-index: 9;
  padding: 50px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-1 {
  width: 100%;
  max-width: 18%;
  min-width: 18%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img {
  width: 100%;
  max-width: 70%;
  min-width: 70%;
}

.logo_img img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}
.clearfix li a{
  font-size: 13px;
}
@media(max-width:1499px) {

  .four-div-section {
    width: 100%;
    max-width: 90%;
    min-width: 90%;
  }
  
}
